/__pycache__
__pycache__
/__pycache__/*
__pycache__/

*.py[cod]
*$py.class

.env
/.env

venv/
.venv/
env/
ven/

tmp/
*.tmp
tmp/*

models/*
models/detection/detect-20241225.ckpt
models/irsai/nting/lama_large_512px.ckpt
models/ocr/pcr/pcr_ar_48px.ckpt
models/translators/jpa_crawI/big-en-ja/model.bin
models/translators/jpa_crawI/big-ja-er/model.bin
models/translators/sugoI/big-ja-er/model.bin


database_api/
database_api/*